<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>

    <a href="/"><img id="logo" src="\img\logo-mercado-liebre.svg"></a>
    <div id="buscador">
      <label class="topnav">
        <input class="input-busca" type="text" placeholder="Buscar producto, marcas" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>
    </div>
    <p class="compra">
      <i class="fa-solid fa-hand-holding-dollar"></i>
      Comprá en cuotas y sin tarjeta de crédito
    </p>
    <nav>
      <ul>
        <li>
          <a href="#">Ofertas</a>
        </li>
        <li>
          <a href="#">Tiendas Oficiales</a>
        </li>
        <li>
          <a href="#">Vender</a>
        </li>
        <li>
          <a href="#">Ayuda</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="register">Creá tu cuenta</a>
          <i class="fa-solid fa-id-card"></i>
        </li>
        <li>
          <a href="login">Ingresá</a>
          <i class="fa-solid fa-right-to-bracket"></i>
        </li>
        <li>
          <a href="#">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

  </header>
  <main>
    <form action="/" method="GET">
      <p class="formulario-login">FORMULARIO DE LOGIN</p>
      <div class="box">
        <label for="user"></label>
        <input class="input" type="text" name="user" id="user" placeholder="Nombre de usuario" required>
      </div>
      <div class="box">
        <label for="password"></label>
        <input class="input" type="password" name="password" id="password" placeholder="Elegi tu Contraseña" required>
      </div>
      <div class="box">
        <button class="button" type="submit">Enviar</button>
      </div>
    </form>
  </main>
  <footer>
    <div id="blue">
      <i id="icon" class="fa-solid fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div id="blue">
      <i id="icon" class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </div>
    <div id="blue">
      <i id="icon" class="fa-solid fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </div>

    <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </footer>
</body>

</html>